{% extends 'base.html' %}
<script>	
	/*$(document).ready(function(){
		alert('aaaa');
		//$('.telefone').mask('(00)0000-0000');
		//$('.cpf').mask('000.000.000-00', {reverse: true});
	});
	*/
</script>
{% load widget_tweaks %}
{% block content %}	
	
	<div class="panel panel-default" style="display:block; margin-left:auto;margin-right:auto;width:60%;">	
		<div class="panel-heading" style="font-weight:bold;font-size:20px;">FORMUL&Aacute;RIO DE INSCRI&Ccedil;&Atilde;O</div>
		
		<form action="." method="POST" style="display:block; margin-left:auto;margin-right:auto;width:50%;">
			
			{% csrf_token %}		
		
			<p>
				<div class="form-group">
					<label for="{{form.name.id_for_label}}">{{ form.name.label|upper }}</label>
					{{ form.name|add_class:"form-control"}}
					{{ form.name.errors }}
				</div>
			</p>
			
			<p>
				<div class="form-group">
					<label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label|upper }}</label>
					{{ form.cpf|add_class:"form-control cpf" }}
					{{ form.cpf.errors }}
				</div>
			</p>
			
			<p>
				<div class="form-group">
					<label for="{{ form.email.id_for_label }}">{{ form.email.label|upper }}</label>
					{{ form.email|add_class:"form-control" }}
					{{ form.email.errors }}
				</div>
			</p>
			
			<p>
				<div class="form-group">
					<label for="{{ form.phone.id_for_label }}">{{ form.phone.label|upper }}</label>
					{{ form.phone|add_class:"form-control telefone" }}
					{{ form.phone.errors }}
				</div>
			</p>
			
			<br/>
			
			<div class="text-center">
				<input type="submit" value="Enviar" class="btn btn-primary">
			</div>
			<br/>
			<br/>
		</form>
		</div>
	</div>

{% endblock content %}